__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

Data/world_state.json
Data/world_state_backup.json

PIX/Pix.dev
PIX/*Control Prime*.dev
PIX/*control_prime*.dev
PIX/*ControlPrime*.dev
PIX/*Arctic Prime*.dev
PIX/*arctic_prime*.dev
PIX/*ArcticPrime*.dev

.DS_Store
Thumbs.db
